<h1>Listing parqs</h1>

<table>
  <thead>
    <tr>
      <th>Participantid</th>
      <th>Courseid</th>
      <th>Startdate</th>
      <th>Disclaimer</th>
      <th>Ans1</th>
      <th>Ans2</th>
      <th>Ans3</th>
      <th>Ans4</th>
      <th>Ans5</th>
      <th>Ans6</th>
      <th>Ans7</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parqs.each do |parq| %>
      <tr>
        <td><%= parq.participantID %></td>
        <td><%= parq.courseID %></td>
        <td><%= parq.startDate %></td>
        <td><%= parq.disclaimer %></td>
        <td><%= parq.ans1 %></td>
        <td><%= parq.ans2 %></td>
        <td><%= parq.ans3 %></td>
        <td><%= parq.ans4 %></td>
        <td><%= parq.ans5 %></td>
        <td><%= parq.ans6 %></td>
        <td><%= parq.ans7 %></td>
        <td><%= link_to 'Show', parq %></td>
        <td><%= link_to 'Edit', edit_parq_path(parq) %></td>
        <td><%= link_to 'Destroy', parq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parq', new_parq_path %>
