<p id="notice"><%= notice %></p>

<p>
  <strong>Participantid:</strong>
  <%= @parq.participantID %>
</p>

<p>
  <strong>Courseid:</strong>
  <%= @parq.courseID %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @parq.startDate %>
</p>

<p>
  <strong>Disclaimer:</strong>
  <%= @parq.disclaimer %>
</p>

<p>
  <strong>Ans1:</strong>
  <%= @parq.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @parq.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @parq.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @parq.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @parq.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @parq.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @parq.ans7 %>
</p>

<%= link_to 'Edit', edit_parq_path(@parq) %> |
<%= link_to 'Back', parqs_path %>
