<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="nameValidation">
    <%= f.label :participantID %><br>
    <%= f.text_field :participantID %>
  </div>
  <div class="field" >
    <%= f.label :courseID %><br>
    <%= f.text_field :courseID %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.date_select :startDate %>
  </div>

  <table>
    <tr> 
        <td></td>
        <td>Yes</td>
        <td>No</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans1", true) %></td>
        <td><%= radio_button("enrollment", "ans1", false) %></td>
        <td>1. Has your doctor ever said that you have a heart condition <b>and</b> that you should only do physical activity recommended by a doctor?</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans2", true) %></td>
        <td><%= radio_button("enrollment", "ans2", false) %></td>
        <td>2. Do you feel pain in your chest when you do physical activity?</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans3", true) %></td>
        <td><%= radio_button("enrollment", "ans3", false) %></td>
        <td>3. In the past month, have you had chest pain when you were not doing physical activity?</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans4", true) %></td>
        <td><%= radio_button("enrollment", "ans4", false) %></td>
        <td>4. Do you lose your balance because of dizziness or do you ever lose conciousness?</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans5", true) %></td>
        <td><%= radio_button("enrollment", "ans5", false) %></td>
        <td>5. Do you have a bone or joint problem (for example, back, knee or hip) that could be made worse by a change in your physical activity?</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans6", true) %></td>
        <td><%= radio_button("enrollment", "ans6", false) %></td>
        <td>6. Is your doctor currently prescribing drugs (for example, water pills) for your blood pressure or heart condition?</td>
    </tr>
    <tr> 
        <td></td>
        <td><%= radio_button("enrollment", "ans7", true) %></td>
        <td><%= radio_button("enrollment", "ans7", false) %></td>
        <td>7. Do you know of <b>any other reason</b> why you should not do physical activity?</td>
    </tr>
  </table>

  <h2>Participant Agreement</h2>
  <h5>ATTENTION: Please read this document carefully before accepting. If you have any questions about this form please ask staff for assistance at 416-733-4111.</h5>
  <p>
    I, the acceptee, as consideration in exchange for being allowed to participate in the activities at the North York Seniors Centre, agree to the following:<br><br>
    I, on behalf of myself, my heirs, executors, administrators, legal representatives, successors and assigns, do whereby release, waive, dischage, and <br>
    agree not to sue for any reason the North York Senior Centre, its officers, directors, agents, employees, contractors, representatives, volunteers, <br>
    successors, and assigns (collectively "Releasees") from any and all liability for any loss, damage, injury or expenses no matter how caused, <br>
    including if caused by, or contributed to by, the negligence or gross negligence of any of the Releasees, or any other party's actions, inactions, or <br>
    otherwise; and from all claims, demands, damages, costs, expenses, actions, and causes of action, whether in law or equity, in respect of death, <br>
    in jury, loss or damage to my person or property howsoever caused, arising or to arise, by reason of my participation in the program, whether as a <br>
    spectator, participant, or otherwise, whether prior to, during or subsequent to my participation.
  </p>

  <div class="actions">
    <%= f.submit "Enroll", :class => "button", :confirm => "Participant will now be enrolled into the class" %>
  </div>


 
  <!-- for future use -->
   <script type="text/javascript" charset="utf-8"> 
    // show popup for price thingy..
      function showAlert() {
        var price = "<%= course_fee(if_member(@enrollment.participantID), @enrollment.courseID) %>"
        var name = "<%= @enrollment.courseID %>"
        alert("Please charge: $" + name);
      }
    </script>
<% end %>






