<h1>Deleted Courses</h1>
<small>Participants to be paid back</small>


<%= form_tag enrollments_path, :method => 'get' do %>
  <p>
    <p><b>Search</b> by Participant ID, Course ID</p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Enrolled Members", :name => nil %>
    <i>* To check all participants that were removed from deleted courses, search a blank request</i>
  </p>
<% end %>
<br>


<br><hr><br>


<!-- Create table to display search results. -->

<h2 id="enrollments">Enrollments</h2>
<table border="1">
  <thead>
    <tr>
      <th>Participant ID</th>
      <th>Course ID</th>
      <th>Refund</th>
      <th>Pay</th>
    </tr>
  </thead>


<tbody>
    <% @payback.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.participantID, enrollment %></td>
        <td><%= enrollment.courseID %></td>
        <td><%= enrollment.refund_back %></td>
        <td><%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Please give back the participant the amount shown in the table' } %></td>
      </tr>
    <%end%>
  </tbody>


</table>



<%= link_to 'Back', static_pages_adminhome_path %>







</br>
</br>
</br>
