<h1>Enrollment</h1> </br>

<!-- Create a search bar that filters participants based on search criteria entered. -->


<h2>Index</h2>
<h4><%= link_to 'New Enrollment', new_enrollment_path %></h4>
<h4><%= link_to 'Back to Admin Home', static_pages_adminhome_path %></h4>
<a href=#enrollments><h4>Check Enrollments</h4></a>
<a href=#availableCourses><h4>Check Availalbe Courses</h4></a> </br>


<h2>Search</h2>
<%= form_tag enrollments_path, :method => 'get' do %>
  <p>
    <p><b>Search Enrollments</b> by Participant ID, Course ID, or Start Date</p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Enrolled Members", :name => nil %>
    <i>* To check all enrollments, search a blank request</i>
  </p>
<% end %>


  <%= form_tag({:controller => "courses", :action => "index"}, :method => "get", :id => "course_id") do %>
      <p>
        <p><b>Search Courses</b> by Course ID, Title, or Start Date</p>
        <%= text_field_tag :search, params[:search], id: 'couse_text'%> 
        <%= submit_tag "Search Courses", :name => nil, id: 'course_submit'  %>
      </p>
  <% end %>
<br>


<br><hr><br>


<!-- Create table to display search results. -->

<h2 id="enrollments">Enrollments</h2>
<table border="1">
  <thead>
    <tr>
      <th>Participantid</th>
      <th>Courseid</th>
      <th>Startdate</th>
      <th>Waitlist status</th>
      <th>Waitlist price</th>
      <th>Ans1</th>
      <th>Ans2</th>
      <th>Ans3</th>
      <th>Ans4</th>
      <th>Ans5</th>
      <th>Ans6</th>
      <th>Ans7</th>
      <th>Disclaimer</th>
      <th>De-waitlist</th>
      <th>Delete</th>
    </tr>
  </thead>

<%if @enrollments%>
<tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.participantID, enrollment %></td>
        <td><%= enrollment.courseID %></td>
        <td><%= enrollment.startDate %></td>
        <td><%= enrollment.waitlist_status %></td>
        <td><%= enrollment.waitlist_price %></td>
        <td><%= enrollment.ans1 ? "Yes" : "No" %></td>
        <td><%= enrollment.ans2 ? "Yes" : "No" %></td>
        <td><%= enrollment.ans3 ? "Yes" : "No" %></td>
        <td><%= enrollment.ans4 ? "Yes" : "No" %></td>
        <td><%= enrollment.ans5 ? "Yes" : "No" %></td>
        <td><%= enrollment.ans6 ? "Yes" : "No" %></td>
        <td><%= enrollment.ans7 ? "Yes" : "No" %></td>
        <td><%= enrollment.disclaimer ? "Accept" : "Decline"%></td>
        <td><%= link_to 'De-waitlist', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%>
  </tbody>

<%end%>
</table>

<h2 id="availableCourses">Available Courses</h2>
<table border="1">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Courseid</th>
      <th>Startdate</th>
      <th>Capacity</th>
    </tr>
  </thead>

  <tbody>
    <%if @availableCourses%>
    <% @availableCourses.each do |availableCourse| %>
      <tr>
        <td><%= availableCourse.title %></td>
        <td><%= availableCourse.courseID %></td>
        <td><%= availableCourse.startDate %></td>
        <td><%= availableCourse.size %></td>
      </tr>
    <%end%>
    <%end%>
  </tbody>
</table>



<br>







