<h1>New enrollment</h1>
<div id="page">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <%= yield %>
</div>


<%= render 'form' %>



<%= link_to 'Back to Admin Home', static_pages_adminhome_path %>
