<p id="notice"><%= notice %></p>

<%= flash[:warning] || flash[:notice] || flash[:alert] %>

<p>
  <strong>Participantid:</strong>
  <%= @enrollment.participantID %>
</p>

<p>
  <strong>Courseid:</strong>
  <%= @enrollment.courseID %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @enrollment.startDate %>
</p>

<p>
  <strong>Waitlist status:</strong>
  <%= @enrollment.waitlist_status %>
</p>

<p>
  <strong>Course fee:</strong>
  <%= @enrollment.waitlist_price %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %> |
<%= pay_course %>


