<h1>Listing participants</h1>
 
<br>
<%= link_to 'Back to Admin Home', static_pages_adminhome_path %>

<br><hr><br>

<!-- Create table to display search results. -->
<table border="1">
  <thead>
    <tr>
      <th>Participant Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Membership Expiry Date</th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= link_to participant.participantID, participant%></td>
        <td><%= participant.fname %></td>
        <td><%= participant.lname %></td>
        <td><%= participant.phone %></td>
        <td><%= participant.expirydate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
