<h1>Listing courses</h1>


<h3>View List Participants</h3>
 <!-- Create a search bar that filters participants based on search criteria entered. -->

  <%= form_tag({:controller => "courses", :action => "index"}, :method => "get", :id => "course_id") do %>
      <p>
        <p><b>Search Courses</b> by Course ID, Title, or Start Date</p>
        <%= text_field_tag :search, params[:search], id: 'couse_text'%> 
        <%= submit_tag "Search Courses", :name => nil, id: 'course_submit'  %>
      </p>
  <% end %>
<br>


<h2 id="availableCourses">Available Courses</h2>
<table border="1">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Courseid</th>
      <th>Startdate</th>
      <th>Capacity</th>
    </tr>
  </thead>

  <tbody>
    <%if @courses%>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.courseID %></td>
        <td><%= course.startDate %></td>
        <td><%= course.size %></td>
      </tr>
    <%end%>
    <%end%>
  </tbody>
</table>
<%= link_to 'Back to Admin Home', static_pages_adminhome_path %>