<h1>Find Courses</h1>

 <!-- Create a search bar that filters participants based on search criteria entered. -->

  <%= form_tag({:controller => "courses", :action => "index"}, :method => "get", :id => "course_id") do %>
      <p>
        <p><b>Search Courses</b> by Course ID, Title, or Start Date</p>
        <%= text_field_tag :search, params[:search], id: 'couse_text'%> 
        <%= submit_tag "Search Courses", :name => nil, id: 'course_submit'  %>
      </p>
  <% end %>
<br>


<h2 id="availableCourses">Available Courses</h2>
<table border="1">
  <thead>
    <tr>
      <th>Courseid</th>
      <th>Course Name</th>
      <th>Start Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Day of Week</th>
      <th>Capacity</th>
    </tr>
  </thead>

  <tbody>
    <%if @courses%>
    <% @courses.each do |course| %>
      <tr>
        <%if current_participant.role? %> 
          <td><%= link_to course.courseID, course %></td>
        <% else %>
          <td><%= link_to course.courseID, new_memberenrollment_path %></td>
        <%end%>
        <td><%= course.title %></td>
        <td><%= course.startDate.to_time.strftime('%B %d, %Y') %></td>
        <td><%= course.startTime.to_time.strftime('%l:%M %p') %></td>
        <td><%= course.endTime.to_time.strftime('%l:%M %p') %></td>
        <td><%= course.dayOfWeek %></td>
        <td><%= course.size %></td>
      </tr>
    <%end%>
    <%end%>
  </tbody>
</table>
<br>
<hr>
<%if current_participant.role? %> 
  <%= link_to 'Back to Admin Home', static_pages_adminhome_path %>
<% else %>
  <%= link_to 'Back to Member Home Page', static_pages_participanthome_path %>
<%end%>