<h1><%= @course.courseName %></h1>
Course Code: <%= @course.courseCode %>
Course Instructor: <%= @course.instructor %>
Course Description: <%= @course.description %>
Course Intensity: <%= @course.intensity %>
<hr>
Start Date: <%= @course.startDate %>
End Date: <%= @course.endDate %>
Start Time: <%= @course.startTime %>
End Time: <%= @course.endTime %>
<hr>
<h3> Course Fees </h3>
Early Bird Fee: <%= @course.earlybirdPrice %>
Members Fee: <%= @course.memberPrice %>
Non Members Fee: <%= @course.nonmemberPrice %>
Additional Comments: <%= @course.additional %>