<h1>Course Registration</h1>

<div class="field" id="nameValidation">
    <%= f.label :participantID %><br>
    <p><%= current_participant.participantID %></p>
    <%= f.hidden_field :participantID, :value => current_participant.participantID %>
</div>

<div class="field" >
  <%= f.label :courseID %><br>
  <p><%= request.fullpath().from(4) %></p>
  <%= f.hidden_field :courseID, :value =>  request.fullpath().from(23) %>
</div>

<h2>Participant Agreement</h2>
<h5>ATTENTION: Please read this document carefully before accepting. If you have any questions about this form please ask staff for assistance at 416-733-4111.</h5>
<p>
  I, the acceptee, as consideration in exchange for being allowed to participate in the activities at the North York Seniors Centre, agree to the following:<br><br>
  I, on behalf of myself, my heirs, executors, administrators, legal representatives, successors and assigns, do whereby release, waive, dischage, and <br>
  agree not to sue for any reason the North York Senior Centre, its officers, directors, agents, employees, contractors, representatives, volunteers, <br>
  successors, and assigns (collectively "Releasees") from any and all liability for any loss, damage, injury or expenses no matter how caused, <br>
  including if caused by, or contributed to by, the negligence or gross negligence of any of the Releasees, or any other party's actions, inactions, or <br>
  otherwise; and from all claims, demands, damages, costs, expenses, actions, and causes of action, whether in law or equity, in respect of death, <br>
  in jury, loss or damage to my person or property howsoever caused, arising or to arise, by reason of my participation in the program, whether as a <br>
  spectator, participant, or otherwise, whether prior to, during or subsequent to my participation.
</p>