<%= form_for(@memberenrollment) do |f| %>
  <% if @memberenrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memberenrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @memberenrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{@memberenrollment.current_step}_step", :f => f %>

  <p><%= f.submit "Continue" %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @memberenrollment.first_step? %></p>

    <script type="text/javascript" charset="utf-8"> 
        function showAlert() {
          // horray for multi-line strings!
          alert("You \(the registrant\) must bring a signed and dated letter of physical activity readiness signed by your doctor " +
            "as soon as possible in order to complete registration. If more information regarding " +
            "the required contents of the form is necessary, please contact staff for assistance at 416-733-4111");
        }
    </script>
<% end %>