<html>
<body>
	<div class="container">
		<div class="container-fluid">
			<div class="row-fluid">
				<h1 align="center">Admin Main Menu</h1>
				
				<br/><br/>
				<div class="col-md-4">		

					<!-- Links that take you to a page depending on what admin wants to do. -->

					<h3>Participants</h3>
						<%= button_to 'Add a member or admin', new_participant_path, :class => "btn btn-default", :method => "get" %><br><br/>
						<%= button_to 'Find a member or admin', participants_path, :class => "btn btn-default", :method => "get" %><br/><br/>
						
						<!-- Exports a csv file with all member's information. -->
						<%= button_to "Export data of all members and admins", participants_path(format: "csv"), :class => "btn btn-default", :method => "get" %>
				</div>
				<div class="col-md-4">
					<h3>Enrollments</h3>
					    <%= button_to 'Enroll into a Course', new_enrollment_path, :class => "btn btn-default", :method => "get" %>

				</div>
				<div class="col-md-4">
					<h3>Courses</h3>
					<%= button_to 'Add a Course', new_course_path, :class => "btn btn-default", :method => "get" %><br/><br/>
					<%= button_to 'Find a Courses', courses_path, :class => "btn btn-default", :method => "get" %><br/><br/>
					<%= button_to 'Pay Back', enrollments_path, :class => "btn btn-default", :method => "get" %>
				</div>
			</div>
		</div>
	</div>
</body>


 </html>
